.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    .heading-text{
        padding: 20px auto;
        margin: 20px auto;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
  }